* {
	margin: 0;
	padding: 0;
}
.pre-header {
	height: 30px;
	width: 100%;
}
.pre-header a {
	float: right;
	margin: 4px 15px;
}
.header-menu {
	background-color: #F9F9F9;
	height: 60px;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
}
.header-menu ul {
	padding-top: 25px;
}
.header-menu ul li {
	list-style-type: none;
	float: right;
	margin: 0px 15px;
}
.header-banner img {
	width: 100%;
	height: 173px;
}
.search-container {
	background-color: white;
	margin-top: -40px;
}
.search-container * {
	max-width: 100%;
}
.search-container {
	padding: 20px;
}
.search-container > div {
	float: left;
	margin: 0 1%;
}
.search-container .search-group.search-wide {
	width: 16.66%;
}
.search-container .search-group.search-narrow {
	width: 9.16%;
}
.search-container .search-group.search-button {
	width: 8.5%;
}
.btn-green {
	background-color: #41A593;
	border-radius: 10%;
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 14px;
}
.search-group input {
	background-color: #EDEDED;
	border-radius: 10%;
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 14px;
}
