.triv {
	float:left;
	width: 50%;
}
.triv1 {
	background-image: url('images/register_bg.png');
	float: right;
	width: 50%;
	text-align: center;
	padding-top: 200px;
}
.triv1 input {
	margin: 6px;
	padding: 10px 10px 0 50px;
	font-size: 16px;
	border: 1px solid #ebebeb;
	color: #bfbfbf;
	width:70%;
	height: 35px;
}
.triv1 input.man {
	background-image: url('images/download.svg');
	background-repeat: no-repeat;
	background-position: 15px center;
}
.triv1 input.letter {
    background-image: url('images/plic.svg');
    background-repeat: no-repeat;
    background-position: 15px center;
}
button {
     background-color: #2792D0;
     padding: 15px 50px 15px 50px;
     text-align: center;
     font-size: 20px;
     color: white;
     width: calc(70% + 50px);
     border: 1px solid #2792D0;
}
hr {
	color: gold;
	width: calc(70% + 58px);
	margin-top: 90px;
	margin-bottom: 90px;
}