* {
	margin: 0;
	padding: 0;
}
.displayNone {
	display: none !important;
}
.column {
	display: inline-block;
	height: 50px;
	width: 100px;
	text-align: center;
}
.row * {
	display: inline-block;
	min-width: 100px;
	border-radius: 6px;
}
.btn-update {
	padding: 10px 0;
	color: black;
	background: #F7DC6F;
}
.btn-delete {
	color: black;
	padding: 10px 0;
	background: #EC7063;
}
.btn-add {
	margin-bottom: 10px;
	padding: 10px 5px;
	color: white;
	background: #58D68D ;
	border-radius: 6px;
	min-width: 60px;
	min-height: 30px;
}
.btn-cancel {
	margin-bottom: 10px;
	padding: 10px 5px;
	color: white;
	background: #ABB2B9;
	border-radius: 6px;
	min-width: 60px;
	min-height: 30px;
}