* {
	padding: 0;
	margin: 0;
}
.menu-header {
	background-color: #41c17D;
	height: 100px;
}
.pull-left {
	float: left;
	margin: 30px 15px 15px 15px;
}	
.pull-right {
	float: right;
	margin:10px 10px;
}
.menu-header ul {
	list-style-type: none;
}
.menu-header ul li {
	display: inline-block;
}