Divbody{
	margin: 0;
	padding: 0;
	min-height: 100vh;
}
.container-fluid{
	margin: 0;
	padding: 0;
}
.container-fluid .header{
	min-height: 100px;
	/*background: red;*/
	width: 100%;
}
.header img{
	height: 50px;
	width: 150px;
	margin-top: 30px;
	margin-left: 30px;
}
.header input{
	margin:30px 0px 30px 40px;
	padding: 10px 100px 10px 45px;
	position: relative;
	top: 0;
	left: 0;
	color: #969b9c;
	letter-spacing: 0.4px;
}
.header i{
	position:absolute;
	top: 45px;
	left:245px;
	color: #9da2a3;
}
.header .left{
	width: 0%;
}
.header .navs{
	margin: 30px 10px;
	width: 50%;
	margin-right:100px;
}
.header .pull-right ul{
	margin-top: 5px;
}
.header li{
	display: inline-block;
	list-style: none;
	margin-right: 40px;
	color: #65696b;
}
.header button{
	background: #039aab;
	outline: none;
	border: 1px solid #039aab;
	padding: 5px 20px;
	box-shadow: 0px 1px 0px #036671;
	color: #fff;
	border-radius: 2px;
	margin-bottom: 50px;
}
.return-bar{
	min-height: 30px;
	background: #565a5c;
	padding: 10px 0px;
}
.return-bar i{
	text-align: center;
	color: #eee;
	font-size: 30px;
	margin-left: 70px;
}
.return-bar i:hover{
	cursor: pointer;
}
.row.main-content{
	width: 100%;
	padding: 50px 30px;
	/*background: red;*/
	margin: 0;
	/*min-height: 50vh;*/
}
.row.main-content div{
	padding: 50px 80px;
}
.row.main-content .left{
	/*background: green;*/
	min-height: 100%;	
	max-height: 600px;
	overflow-y: scroll;
	width: 20%;
	font-family: 'Muli', sans-serif;
	

}
::-webkit-scrollbar{
	/*background: red;*/
	width: 20px;
	height: 20px;
}
::-webkit-scrollbar-track{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}
::-webkit-scrollbar-thumb{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}
li#none{
	color: #fff;
}
.row.main-content .left ul{
	list-style: none;
	padding: 10px 0px;
}
.row.main-content .left ul li{
	font-size: 19px;
	padding: 10px 0;
	color: #909496;
}
.row.main-content .left ul li#title{
	font-size: 14px;
	color: #cacccd;
}
.row.main-content .left ul li button{
	background:transparent;
	outline: none;
	border:none;
}
.row.main-content .middle{
	/*background: blue;*/
	min-height: 20px;
	width: 55%;
}
.row.main-content .right{
	/*background: orange;*/
	min-height: 20px;
	width: 25%;
}
.active{
	color: #000;
}
.row.main-content .middle.col-sm-6{
	border: 1px solid #dce0e0;
	margin-left: 40px;
	padding: 0;
}

.calendarDiv{
	background: red;
	height:100%;
	width: 100%;
	position: absolute;
	display: none;
}
.priceDiv{
	background: grey;
	height: 100%;
	width: 100%;
	position: absolute;
	display: none;
}
.overviewDiv{
	background: blue;
	height: 100%;
	width: 100%;
	position: absolute;
	display: none;
}
.photosDiv{
	background: blue;
	height: 100%;
	width: 100%;
	position: absolute;
	display: none;
}
.amenitiesDiv{
	background:black;
	height: 100%;
	width: 100%;
	position: absolute;
	display: none;
}
.listingDiv{
	background: green;
	height: 100%;
	width: 100%;
	position: absolute;
	display: none;
}
.locationDiv{
	background: orange;
	height: 100%;
	width: 100%;
	position: absolute;
	display: none;
}