*{
	margin:0;
	padding: 0;
}
.header{
	background:#fff;
}
.header .social-header{
	height: 30px;
	margin-right: 30px;
}
.header .social-header *{
	float: right;
}
.header .social-header img{
	margin: 0 50px 0 0 ;
}
.header .social-header input{
	border: none;
	outline: none;
	border-bottom: 1px solid #000;
	background-image: url('images/search.svg');
	background-repeat: no-repeat;
	background-position: center-left;
	padding-left: 20px;
}
.header .menu-header{
	background:#FF7457;
	height: 60px;
	color: white;
}
.header .menu-header ul {
	float: right;
	list-style-type: none;
	margin-right: 30px;
}
.header .menu-header ul li{
	display: inline-block;
	padding: 18px;
	font-size: 20px;
}
.header .menu-header img{
    float: left;
    width: 76px;
    height: 90px;
    margin-top: 4px;
    position: absolute;
    top: 30px;
}
.container-top,
.container2 {
	text-align:center;
}
.container-top img,
.container2 img

{

	max-width: 80%;
}
.container2
{
	position: relative;
}
.container2 h1{
	color: white;
	position: absolute;
	width: 100%;
	top: 50px;
	font-size: 40px;
}
.section-img{
	width: 67%;
	float: left;
}
.section-img img{
	width: 100%
}
.container-apartments .row{
	max-width: 80%;
	margin: 0 auto;
}
.section-details{
	float: left;
	width: 33%
}
.section-details-text .sub-title{
	font-size: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid darkgreen;
	margin-bottom: 20px;
	display: inline-block;
	text-transform: uppercase;

}
.section-details-text{
	padding: 20px 10px;
}

.section-details-img img{
	width: 100%;
}