body{
	background: linear-gradient(to top, #40407a, rgba(255,255,255,0.1) );
	background-repeat: no-repeat;
	min-height: 97.5vh;
}
.form div{
	display: inline-block;
	text-align: center;
	padding: 10px 30px;
}
input{
	text-align: center;
	outline: none;
	border: none;
	border-bottom: 1px solid #bdc3c7;
	padding: 10px 0px;
	background: linear-gradient(to top, rgba(189, 195, 199, 0.41), #fff);

}
input[type="date" i]{
	cursor: pointer;
	font-size: 16px;
	color: #222f3e;
}
select{
	padding: 10px 50px;
	text-align: center;
	outline: none;
	border: none;
	border-bottom: 1px solid #bdc3c7;
	background: linear-gradient(to top, rgba(189, 195, 199, 0.41), #fff);
	cursor: pointer;
	color: #222f3e;
}

p{
	font-size: 22px;
	font-weight: initial;
	letter-spacing: 1px;
	border-bottom: 1px solid #bdc3c7;
	color: #222f3e;	
}
.save-btn