.container-animation {
	height: 300px;
	border: 2px solid blue;
}
.animated-div1 {
	width: 100px;
	height: 100px;
	background: red;
	position: relative;
	animation: boxAnimation 4s;
}

@keyframes boxAnimation {
	0% {
		top: 0;
		left: 0;
	}
	25% {
		top: 0;
		left: calc(100% - 100px);
	}
	50% {

	}
	75% {

	}
	100% {

	}
}
.container-animation-2 {
	height: 100px;
	border: 2px solid red;
	position: relative;
}
.circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: inline-block;
}
.first {
	background: blue;
	position: relative;
	animation: animationCircle 3s infinite;
	animation-direction: alternate;
	animation-timing-function: linear;

}
.second {
	background: red;
	position: absolute;
	left: calc(100% - 100px);
	animation: animationCircle 3s infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: linear;
}
@keyframes animationCircle {
	0% {
		left: 0;
		background: blue;
	}
	100% {
		left: calc(100% - 100px);
		background: red;
	}
}