* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

header {
	position: fixed;
    padding: 40px;
    width: 100%;
    z-index: 10;
}

.logo {
	float: left;
}
.nav {
	float: right;
	
}

.nav a {
	color: white;
}

.carousel-caption {
	left: 15%;
	max-width: 400px;
	bottom: 340px;
	text-align: left;
	

}	

body {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	min-height: 100vh;
	margin: 0px;
}

.carousel-caption h3 {
	color: orange;
	font-size: 50px;
	font-weight: bold;
}

.carousel-caption h5 {
	font-size: 30px;
}

.btn-one {
	background-color: orange;
	padding: 10px 40px;
	border-color: #63777A;
	color: white;

}

.btn-two {
	background-color: transparent;
	padding: 10px 40px;
	border-color: white;
	color: white;

}

.login-btn a {
	background-color: #EF8216;
	border: none;
	padding: 5px 20px;
}


