* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

header {
	position: fixed;
    padding: 40px;
    width: 100%;
    z-index: 10;
}

.logo {
	float: left;
}
.nav {
	float: right;
}

.carousel-caption {
	left: 10%;
	max-width: 400px;
	bottom: 200px;
	text-align: left;

}	

body {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	min-height: 100vh;
	margin: 0px;
}
