*{
	margin:0;
	padding: 0;
}
.header {
	background-image: url("header.jpg");
	background-repeat:no-repeat;
	padding:250px 150px;
	color: #fff

}
.header h3 span.green-text{
	color: #2ecc71;
}
.header h3 {
	font-size: 35px;
	margin-bottom: 25px;
}
.header p {
	font-size: 20px;
}
.mobile-button {
	width: 35px;
	height: 35px;
	border-radius: 50px;
	outline: none;
	border: none;
	opacity: 0.5;
	background: #555;
}
.mobile-button .fab {
	color: white;
	font-size: 25px;
}
.mobile-button:hover {
	background: #2ecc71;
	opacity: 1;
}
.subheader-card{
	text-align: center;
}
.subheader .subheader-card {
	float: left;
	width: 33.33333%;
}
.subheader .subheader-card i {
	width: 35px;
    height: 35px;
    border-radius: 50px;
    background: #2ecc71;
    color: #fff;
    font-size: 32px;
    padding: 11px;
    margin-bottom: 10px;
}
.subheader .subheader-card h1 {
	margin: 20px 0;
}
.subheader .subheader-card p {
	max-width: 300px;
	font-size: 19px;
	margin: 0 auto;
}
.email-send {
	background: lightgray;
	float: left;
 	width: 100%;
	padding: 50px 50px;
}
.email-send > div{
	float: left;
	width: 50%;

}
.email-send .email-send-left h5{
	font-size: 25px;
	margin-bottom: 15px 

}
.email-send .email-send-left p{
	font-size: 20px;
	padding-right: 50px;
}
.email-send .email-send-left input{
	padding: 9px 7px;
	font-size: 20px;
	margin-top: 30px;
	border: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px

}
.email-send .email-send-left button{
	height: 41px;
	background: #2ecc71;
	color: #fff;
	font-weight: bold;
	outline: none;
	border: none;
	padding: 0 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
	left: -3px;
	top: -1px;
}
.email-send-right {
	width: 80px;
}



