.container-animation {
	height: 300px;
	border: 2px solid blue;
}
.animated-div1 {
	width: 100px;
	height: 100px;
	background: red;
	position: relative;
	animation: boxAnimation 3s;
}

@keyframes boxAnimation {
	0% {
		top: 0;
		left: 0;
	}
	25% {
		top: 0;
		left: calc(100% - 100px);
	}
	50% {top: 200px;
		left: calc(100% - 100px)
	}
	75% {
		top: 200px;
		left: 0px;
	}
	100% { 
		top:0px;
		left: 0px;
	}
}
.container-animation-2 {
	height: 100px;
	border: 2px solid red;
}
.aaa {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: inline-block;
	background-color: green;
	position: relative;
	animation: animateaaa 3s;*/
}
.first {
	background: blue;
	animation: animationaaa 3s infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}
.second {
	background: red;
	position: absolute;
	left: calc(100% - 100px);
	animation: animationaaa 3s infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: linear;
}
@keyframes animationaaa {
	0% {
		left: 0;
		background: blue;
	}
	100% {
		left: calc(100% - 100px);
		background: red;
}
	}
}

