div {
	width: 200px;
	height: 300px;
	background: #ff0;
	opacity: 0.5;
	position: relative;
	top: 0;
}
/*.transitionDiv {
	width: 100px;
	height: 100px;
	background: red;
	-webkit-transition: width 2s, height 7s;
	transition: width 2s, height 7s;
}*/
.transitionDiv {
	width: 100px;
	height: 100px;
	background: red;
	opacity: 1;
	top: 200px;
	-webkit-transition: all 4s;
	transition: all 4s;
}
.transitionDiv {
	width: 100px;
	height: 100px;
	background: red;
	opacity: 1;
	top: 200px;
	-webkit-transition: background 5s, opacity  7s, top 7s, width 3s, height 4s;
	transition: background 5s, opacity  2s, top 7s, width 3s, height 4s;
	
}
