*  {
	margin:0;
	padding: 0;
}

.displayNone {
	 display:none;

}

.column {
	display: inline-block;
	width: 100px;
	text-align: center;
}

.row * {
	display: inline-block;
	min-width: 100px;
	border-right: 1px solid #eee;
}

.button {
	outline: none;
	border: none;
	border-radius: 6px;

}

.btn-update {
	background: blue;
	color: #fff;
}

.btn-delete {
	background: red;
	color: #fff;
}

.add-button {
	background: green;
	color: #fff;

}

