
* {
	margin: 0;
	padding: 0;

}


.header {
	background: #FFF;
}


.header .social-header {
	height: 30px;
	padding-top: 5px;
}

.header .social-header *{
	float:right;

}

.header .social-header img {
	margin: 0 50px 0  0;

}

.header .social-header input {

	padding-left: 15px;
	border: none;
	outline: none;
	border-bottom: 1px solid #000;
	background-image: url('images/search.svg');
	background-repeat: no-repeat;
	background-position: center left;

}


.header .menu-header {
	background: #FF7457;
	height: 60px;
	color: #FFFFFF;
	

}

.header .menu-header ul {
	float: right;
	list-style-type: none;
}

.header .menu-header ul li {
	display: inline-block;
	padding: 18px;
	margin: 0 15px;
	font-size: 20px;

}

.header .menu-header img {
	width: 76px;
	height: 90px;
	position: relative;
	top: 4px;	


	}

.banner-top,
.holiday-apart {
	text-align: center;
	margin-top: -4px;


}

.holiday-apart {
	position: relative;
}

.banner-top img,
.holiday-apart img {
	min-width: 80%;
}

.holiday-apart p {
	font-size: 50px;
	position: absolute;
	width: 100%;
	color: white;
	top: 87px;
}

.section-image {
	width: 67%;
	float: left;
}

.section-image img {
	width: 100%;
}

.apartments-section .row {
	max-width: 80%;
	margin: 0 auto;
	
}

.section-details {
	width: 33%;
	float:left;
}

.section-details .section-details-info .sub-title {
	font-size: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid darkgreen;
	margin-bottom: 20px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
}

.section-details-info {
	padding: 45px 10px;
}


.section-details-image img {
	width: 100%;
}