*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f5f5f5;
}
.container-top{
	background-image: linear-gradient(to left,rgba(0,0,0,.8),rgba(0, 0, 0, .2)),url('img1.png');
	background-size: cover;
	background-repeat: no-repeat;
	/*min-height: 500px;*/
	opacity: 0.9;
	text-align: center;
	color: white;
	font-family: "Verdana";
}
.container-top h3{
	font-size: 45px;
	color: white;
	font-style: italic;
	text-align: center;
	padding-top: 100px;
}
.container-top h2{
	margin-top: 90px;
	font-size: 65px;
	text-align: center;
}
.container-top .navbar{
	margin-top:40px; 
	font-size: 16px;
}

ul{
	color: white;
	font-weight: lighter;
}
li{
	text-decoration: none;
	display: inline-block;
	/*padding: 0 30px 0 0;*/
} 
.navbar a{
	color: white;
	text-decoration: none;
	margin: 0 15px;
	text-transform: uppercase;
}
.container-top p{
	font-size: 20px;
	letter-spacing: -2px;
	font-weight: bold;
	margin-top: 30px;

}
.container-top p span{
	display: inline-block;
	width: 100px;
	border-top: 1.5px solid #fff;
	position: relative;
	top: -8px;
	margin: 0 25px;
	opacity: 0.5;
}

.container-top .action-button{
	text-align: center;
	padding-top: 80px;
	padding-bottom: 120px;

}
.container-top .action-button button{
	padding: 20px 50px;
	border-radius:40px;
	background: #50c3af;
	color: white;
	border: none;
	outline: none;
	text-transform: uppercase;
	text-shadow: 0px 0px 3px white;
	cursor: pointer; 
	font-size: 18px;
}

.container-cards{
	background: #eeeeef;
	padding: 50px 50px;
	text-align: center;
}
.container-cards .card{
	display: inline-block;
	width: 27%;
	text-align: center;
	
	
}
.container-cards .card h6{
	font-size: 20px;
	color: #40474e;
	margin-top: 20px;
	text-transform: uppercase;
	margin-bottom: 15px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container-cards .card span{
	display: inline-block;
	width: 180px;
	border-top: 1.6px solid black;
	position: relative;
	top: -8px;
	margin: 0 25px;
	opacity: 0.1;
}
.container-cards .card p{
	color: #787b80;
	padding: 0 90px;
	font-family: "Verdana";
	font-size: 18px;
	margin-top: 20px;
}

.section_3{
	background: #f5f5f5;
	 padding: 50px 40px; 
}
.section_3 .card{
	display: inline-block;
	width: 49%;
	text-align: center;
		
}
.section_3 img{
	width: 420px;
}
.section_3 h6{
	color: #40474e;
	text-transform: uppercase;
	font-size: 23px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: bolder;
	margin-top: 20px;
	padding: 20px 0px;

}
.section_3 .card span{
	display: inline-block;
	width: 420px;
	border-top: 1.6px solid black;
	position: relative;
	top: -8px;
	margin: 0 0px;
	opacity: 0.1;
}
.section_3 .card p{
	color: #787b80;
	padding: 0 110px;
	font-family: "Verdana";
	font-size: 18px;
	margin-top: 20px;
}
.section_3 .action-button{
	margin-left: -240px;
	padding-top: 40px;
	padding-bottom: 80px;
	margin-left:6px; 
}
.section_3 .action-button button{
	padding: 15px 65px;
	border-radius:40px;
	background: #50c3af;
	color: white;
	border: none;
	outline: none;
	cursor: pointer; 
	font-size: 15px;
}
.section_4{
	background: #eeeeef;
	margin-bottom: 100px;
	padding: 100px 0px;
}
.section_4 .card-title{
	margin-left: 150px;
	margin-top: -30px;
	margin-bottom: 40px;
}
.section_4 h6{
	color: #40474e;
	text-transform: uppercase;
	font-size: 23px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: bolder;
	margin-bottom: 10px;

}
.section_4 img{
	float: left;
	position: relative;
	top: -13px;
	left: 3px;
}
.section_4 .card-title span{
	display: inline-block;
	width: 374px;
	border-top: 1.6px solid black;
	position: relative;
	top: -8px;
	margin-left: -33px;
	opacity: 0.2;
}
.section_4 .card-text {
	padding: 0px 135px 0px 14px;

}
.section_4 .card-text p{
	color: #787b80;
	line-height: 25px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section_4 .action-button button{
	padding: 15px 25px;
	border-radius:40px;
	background: #d2d5da	;
	color: white;
	border: none;
	outline: none;
	cursor: pointer; 
	font-size: 15px;
	margin-left: 155px;
	margin-bottom: 50px;
}
.section_5 .card img{
	width: 200px;
	
}
.section_5{
	padding: 0px 100px;
	background: #f5f5f5;
	margin-bottom: 80px;
	padding: 100px 0px;
	
}
.section_5 .card h6{
	text-align: left;
	margin-left: 15px;
	padding-top: 20px;;
}
.section_5 .card span{
	margin-left: 15px;
	width: 310px;
}
.section_5 .card p{
	color: #787b80;
	padding: 0 0px;
	font-family: "Verdana";
	font-size: 18px;
	margin-top: 20px;
}
.section_5 .card .action-button button{
	padding: 15px 25px;
	border-radius:40px;
	color: #88d1c3;
	background: #f5f5f5;
	border: none;
	outline: none;
	cursor: pointer; 
	font-size: 18px;
	margin-left: -130px;
	margin-top: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section_4.section_6{
	margin-top: 100px;
	padding-top: 100px;
	padding-right: 80px;
	padding-left: 80px;

}
.section_4.section_6 .card-title{
	display: inline-block;
	width: 47%;
	margin-left: 10px;
	
}
.section_4.section_6 img{
	margin-left: 40px;
	margin-top: 15px;
}

.section_4.section_6  h6 {
	margin-left: 80px;
	color: #40474e;
}
.section_4.section_6 .card-text{
	padding:0px 80px;
}
.section_4.section_6 .card-title span{
	opacity: 0.1;
	width: 430px;
}
.section_4.section_6 .card-title .action-button button{
	text-align: left;
	margin-left: 70px;
	margin-top:40px;
	background: #50c3af;
}
.section_7{
	margin-left: 160px;
	padding: 100px 180px 100px 0px;
}
.section_7 img{
	height: 100%;
	float: left;
}
.section_7 h6 {
	font-weight: bolder ;
	font-size: 22px;
	color: #40474e;
	padding-bottom: 50px;
}
.section_7 .card-text{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding-left: 300px;
}
.section_7 .card-text p{
	color: #787b80;
}
.section_7 .action-button button{
	padding: 15px 25px;
	border-radius:40px;
	background: #d2d5da	;
	color: white;
	border: none;
	outline: none;
	cursor: pointer; 
	font-size: 15px;
	margin-left: 40px;
	margin-top: 30px;	
}
button:hover{
	transform: translateY(-2px);
	transition: 0.4s ease-in;
}