* {
	/*universal selector*/
	margin: 0;
	padding: 0;
}
.cards {
	width: 50px;
	height: 50px;
	background: yellow;
	margin: 10px;
}
.inside-card {
	width: 20px;
	height: 20px;
	display: inline-block;
}
.card2 {
	width: auto;
	height: auto;
	max-width: 500px;
}
.card2 p {
	max-width: 50%;
} 
.card3 {
	width: 50vw;
}
.card1 {
	font-weight: 700;
	font-size: 24px;
	width: auto;
	height: auto;
	margin: 20px;
	padding: 20px;
	background: cyan;
	color: purple;
	border: 2px solid blue;
}