.position-absolute {
	position: absolute;
}
.position-relative {
	position: relative;
}
.position-fixed {
	position: fixed;
}
.position-static {
	position: static;
}
div {
	width: 100px;
	height: 100px;
	border: 1px solid red;
	background: blue;
}
.box {
	width: 100px;
	height: 100px;
	background: green;
	display: inline-block;
}
.pos-relative {
	position: relative;
	top: 150px;
	left: 200px;
	background: red;
}